.prv{

    &:hover {
      .comment-delete-button {
        // display:
        visibility: visible;
      }
    }
  
    .comment-delete-button {
      // display:
    
    
      z-index: 111111;
      visibility: hidden;
    }
  
  
  }
  .board-preview  {
    margin-right: 0;
    border-radius: 3px;
    display: block;
    background-color: #97a0af;
    background-position: 50%;
    background-size: cover;
    color: #fff;
    line-height: rem(20px);
    padding: rem(8px);
    position: relative;
    text-decoration: none;
    width: 100%;
    // height: 80px;
  
    // padding: 0%;
    //   display: flex;
    //   justify-content: center;
    
  
  
    & > span:first-child {
      background-color: #0000004d;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 3px;
      display: block;
      opacity: 0.7;
      transition: opacity 0.15s ease;
    }
  
    &.bg-color > span:first-child {
      background-color: unset;
    }
  
    &:not(.new-board) > div {
      display: flex;
      flex-direction: column;
      height: 80px;
      font-weight: 700;
      justify-content: space-between;
      position: relative;
      & span {
        font-weight: 400;
        width: calc(100% - 28px);
        overflow: hidden;
        white-space: nowrap;
      }
    }
    &.new-board {
      background-color: #f0f2f5;
      color: $clr-default;
      font-size: rem(14px);
      &:hover {
        background-color: #e7e9ed;
      }
      &:active {
        background-color: #e4f0f6;
        border: none;
        box-shadow: none;
        color: #0079bf;
        outline: 0;
      }
      div {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        height: 80px;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
      }
      span {
        display: none;
      }
    }
  
    & .star::before {
      font-family: FA-regular;
      content: "\f005";
    }
  
    &:hover span:first-child {
      opacity: 1;
      transition: opacity 0.15s ease;
    }
  
    &:hover .star {
      right: 4px;
      bottom: 8px;
      opacity: 0.8;
      // position: absolute;
      display: block;
      height: 18px;
      line-height: 18px;
      margin-right: 6px;
      width: 18px;
      transition-duration: 0.15s;
      transition-property: color, background-color, opacity, transform, width,
        margin;
    }
  
    & .star {
      font-size: rem(14px);
      align-items: center;
      display: flex;
      flex: 0 0 auto;
      margin-left: 4px;
      overflow: hidden;
      position: absolute;
      right: -4px;
      bottom: 8px;
      opacity: 0;
      color: #fff;
      transition-duration: 0.15s;
      transition-property: color, background-color, opacity, transform, width,
        margin;
  
      &:hover {
        color: #e6c60d;
        opacity: 1;
        transform: scale(1.2);
        transition: 0.15s;
      }
      &.starred {
        color: #e6c60d;
        opacity: 1;
        right: 4px;
        bottom: 8px;
        display: block;
        height: 18px;
        line-height: 18px;
        margin-right: 6px;
        width: 18px;
        transition: 0.15s;
        &:hover {
          transform: scale(1.2);
          transition: 0.15s;
        }
      }
    }
  }